absl-py
aiohttp
aiosignal
altair
antlr4-python3-runtime
cvzone
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
enum34
fastjsonschema
filelock
pillow
django
